// Global CSS Variables
:root {
  --header_height: $header_height;
}
html {
  overflow-y: scroll;
}

body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  &.helix-ultimate-preloader {
    overflow: hidden;
    &:before {
      content: " ";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99998;
      background: rgba(255, 255, 255, 0.9);
    }
    &:after {
      content: "\f110";
      font-family: "FontAwesome";
      font-size: 36px;
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -24px;
      margin-left: -24px;
      width: 48px;
      height: 48px;
      line-break: 48px;
      text-align: center;
      color: #007bff;
      -webkit-animation: fa-spin 2s infinite linear;
      animation: fa-spin 2s infinite linear;
      z-index: 99999;
    }
  }
}

.btn {
  border-radius: 0;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 15px;
  &:focus {
    box-shadow: none !important;
  }
  &.input-password-toggle {
    border-radius: 0.25rem;
  }
}
.tm-page,
.body-wrapper {
  position: relative;
}

//Bootstrap 5 customize
.row {
  --bs-gutter-x: 1.875rem;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
.element-invisible {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/*
 * Page Container
 */

@media (min-width: 1400px) {
  .body-wrapper .tm-page {
    max-width: 1320px;
  }

  .tm-page-width {
    max-width: 1320px;
  }

  .tm-page-margin-top {
    margin-top: 60px;
  }

  .tm-page-margin-bottom {
    margin-bottom: 60px;
  }
  .tm-outside {
    .tm-page-width {
      padding: 0;
    }
  }
}

//Toolbar

.tm-toolbar {
  padding-top: $topbar_padding_top;
  padding-bottom: $topbar_padding_bottom;
  font-size: $toolbar_font_size;
  position: relative;
  .uk-subnav > * > :first-child {
    text-transform: none;
  }
}

#tm-navbar,
#tm-mobile {
  .uk-nav-center {
    .uk-nav-parent-icon > .uk-parent > a::after {
      position: absolute;
    }
  }
}
.tm-cookie-bar {
  z-index: 9;
}
.tm-cookie-bar.uk-section-xsmall {
  padding: 15px 0;
}
.tm-header {
  .uk-navbar-primary .uk-navbar-nav > li > a {
    font-size: 24px;
  }
}
.tm-social > li > a > span {
  font-size: $social_icons_size;
}

// Header
.tm-header,
.tm-header-mobile {
  position: relative;
}

/*
 * Headerbars
 */

.tm-headerbar-top {
  padding: $headerbar_top_padding 0;
}
.tm-headerbar-bottom {
  padding: $headerbar_bottom_padding 0;
}

.tm-headerbar-stacked {
  margin-top: $header_stacked_margin;
}

.tm-header-overlay {
  position: absolute;
  z-index: 980;
  left: 0;
  right: 0;
}

.tm-header-transparent {
  .tm-headerbar-top,
  .tm-headerbar-bottom {
    background: transparent;
  }
  .tm-headerbar-top {
    border-bottom-color: transparent;
  }
}

.navbar .brand,
.uk-logo {
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  min-height: $header_height;
}

.uk-nav-header:not(:first-child) {
  margin-top: 15px;
}

.tm-header-mobile-slide {
  z-index: 1020;
}

// Page Title

#sp-title {
  min-height: 0;
}

#sp-main-body {
  padding: 50px 0;
}

.com-sppagebuilder #sp-main-body,
.com-quix #sp-main-body {
  padding: 0;
}

.com-quix #sp-main-body > .container {
  max-width: 100%;
  width: 100%;
  padding: 0;
}

// Left and Right

#sp-left,
#sp-right {
  .sp-column > .uk-panel {
    margin-bottom: 30px;
  }

  .uk-panel {
    &:first-child {
      margin-top: 0;
    }

    .uk-search-default {
      width: 100%;
    }

    //List category
    .categories-module {
      ul {
        margin: 0 10px;
      }
    }

    ul {
      padding: 0;
      list-style: none;
    }
  }
}

// Login Form

.login {
  img {
    display: inline-block;
    margin: 20px 0;
  }

  .checkbox {
    input[type="checkbox"] {
      margin-top: 6px;
    }
  }
}

.form-links {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

// Search
.uk-search-default {
  .awesomplete {
    display: block;
  }
  .uk-search-icon:not(.uk-search-icon-flip) ~ .awesomplete > .uk-search-input {
    padding-left: 40px;
  }
  .uk-search-icon-flip ~ .awesomplete > .uk-search-input {
    padding-right: 40px;
  }
}

.uk-search-large > .mod-finder,
.uk-search-large > .search {
  .uk-search-input {
    text-align: center;
    background: #fafafa;
    height: 80px;
  }
}
.uk-search-large > .search {
  .uk-search-default {
    width: 100%;
  }
}

.uk-modal-page {
  .com-finder > * + * {
    margin-top: 0;
  }
  .uk-search-large
    .uk-search-icon:not(.uk-search-icon-flip)
    ~ .uk-search-input {
    padding-left: 40px;
  }
}
.tm-header {
  .awesomplete > ul {
    z-index: 11;
  }
}
.newsflash-vert-parallax {
  box-sizing: initial;
}

//Article Voting
.article-ratings {
  display: flex;
  align-items: center;

  .rating-symbol {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 1rem;
    display: inline-block;
    margin-left: 5px;

    span.rating-star,
    a.rating-star {
      font-family: "Font Awesome 5 Free";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      &.active:before {
        content: "\f005";
        color: #f6bc00;
        font-weight: 900;
      }
      &:before {
        content: "\f005";
        padding-right: 5px;
      }
    }

    span.rating-star:hover:before,
    span.rating-star:hover ~ span.rating-star:before,
    a.rating-star:hover:before,
    a.rating-star:hover ~ span.rating-star:before {
      content: "\f005";
      color: #e7b000;
      font-weight: 900;
      cursor: pointer;
    }
  }

  .ratings-count {
    font-size: 0.785rem;
  }

  .fa-spinner {
    margin-right: 5px;
  }
}

// Misc
.pagination-wrapper {
  align-items: center;

  .pagination {
    margin-bottom: 0;
  }
}

.pagenavcounter {
  display: none;
}

.newsfeed-category {
  .category {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 5px 0;
    }
  }

  #filter-search {
    margin: 10px 0;
  }
}

.category-module,
.categories-module,
.archive-module,
.latestnews,
.newsflash-horiz,
.mostread,
.form-links,
.list-striped {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 2px 0;

    h4 {
      margin: 5px 0;
    }
  }
}

//Social and rating
.article-footer-top {
  display: table;
  clear: both;
  width: 100%;

  .post_rating {
    float: left;
  }
}

// contentpane
.contentpane {
  &:not(.com-sppagebuilder) {
    padding: 20px;
  }
}

// Bottom

#sp-bottom {
  font-size: 15px;
  line-height: 1.6;

  .sp-column > .uk-panel {
    margin-bottom: 30px;

    .uk-card-title {
      font-weight: 700;
      font-size: 18px;
    }
    ul:not(.uk-nav-sub) {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}

// Footer
#sp-footer {
  ul {
    &.menu {
      display: inline-block;
      list-style: none;
      padding: 0;
      margin: 0 -10px;

      li {
        display: inline-block;
        margin: 0 10px;

        a {
          display: block;

          &:hover {
            background: none;
          }
        }
      }
    }
  }
  .uk-subnav > * > :first-child {
    font-size: 14px;
  }
}

.sp-social-share {
  ul {
    display: block;
    padding: 0;
    margin: 20px -5px 0;

    li {
      display: inline-block;
      font-size: 24px;
      margin: 0 5px;
    }
  }
}

// profile
.profile {
  > div:not(:last-child) {
    margin-bottom: 30px;
  }
}

.dl-horizontal {
  dt {
    margin: 8px 0;
    text-align: left;
  }
}

// page-header
.page-header {
  padding-bottom: 15px;
}

// featured contact
table.category {
  width: 100%;

  thead,
  tbody {
    > tr {
      border: 1px solid #f2f2f2;

      th,
      td {
        padding: 10px;
      }
    }
  }
}

//contact from
.contact-form {
  .form-actions {
    background: none;
    border: none;
  }
}

@media print {
  .visible-print {
    display: inherit !important;
  }

  .hidden-print {
    display: none !important;
  }
}

.back__top.visible {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
  -webkit-transform: scale(1) translateY(0);
}

.back__top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 45px;
  width: 45px;
  line-height: 2;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: scale(0.5) translateY(50px);
  transform: scale(0.5) translateY(50px);
  -webkit-transform: scale(0.5) translateY(50px);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);

  &:hover,
  &:focus {
    color: #fff;
  }
}

.filter-branch {
  .control-group {
    margin: 1em 0;
  }
}

// Forms
.control-group {
  margin-bottom: 1rem;
}

//remove bootstrap input focus outline
input[type="text"],
textarea {
  outline: none;
  box-shadow: none !important;
}

// password group meter
.password-group {
  meter {
    width: 100%;
  }
}

.btn {
  border-radius: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
select:not(.form-select) {
  &:not(.form-control, .uk-input) {
    height: 40px;
    vertical-align: middle;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #e5e5e5;
    max-width: 100%;
    width: 100%;
    padding: 0 10px;
    background-color: #fff;
    color: #666;
    transition: 0.2s ease-in-out;
    transition-property: color, background-color, border;
    &:focus {
      border-color: $link_color;
    }
  }
}
// Form control
.form-horizontal {
  .control-label {
    float: left;
    width: auto;
    padding-top: 5px;
    padding-right: 5px;
    text-align: left;
  }

  .controls {
    margin-left: 220px;
  }
}
.custom-select,
.form-select {
  -moz-padding-start: calc(1rem - 3px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../images/select-bg.svg);
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-size: 116rem;
  border-radius: 0.25rem;
  color: #22262a;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.5rem 3rem 0.5rem 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}

.custom-select,
.form-select {
  background: url(../images/select-bg.svg) no-repeat 100%/116rem;
  background-color: #eaedf0;
  border: 1px solid #ced4da;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  cursor: pointer;
  max-width: 100%;
}

.custom-select:focus,
.form-select:focus {
  border-color: #000;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
}

.valid {
  border-color: #448344;
}

.form-control {
  &:focus {
    box-shadow: none;
    outline: 0;
  }
}
.card-block {
  padding: 20px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;

    li {
      display: block;
    }
  }
}

// Alerts
.alert {
  &.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
}

.related-article-list {
  .related-image {
    div {
      margin-top: 0 !important;
    }
  }
}

#versionsModal {
  top: 10%;
  .modal-dialog {
    max-width: 80%;
  }
  iframe {
    min-height: 300px;
  }
}
body.com-content.view-form.layout-edit .nav-tabs .nav-link {
  display: block !important;
}

// noscript fallback style for lazysizes script
.no-js img.lazyload {
  display: none;
}

//privacy
.registration {
  #member-registration {
    #jform_privacyconsent_privacy-lbl {
      display: inline-flex;
      > a {
        position: initial;
        display: block;
        color: $text_color;
        &:hover,
        &:focus {
          color: $link_hover_color;
        }
      }
    }
  }
}
// misc
.modal-dialog.jviewport-width80 {
  width: 80vw;
  max-width: none;
}

// Joomla Modal height fix
.hu-media-modal {
  .modal-content {
    height: 65vh;
  }
  .modal-dialog {
    display: flex;
    align-items: center;
    min-height: calc(100% - 1rem);
  }
}

// J4 media input group btn width fix
.input-group.hu-j4-media {
  max-width: 356px;
}

// hidden class
.hidden {
  display: none !important;
}

// Calendar form css fix
.field-calendar {
  .input-group-text {
    padding: 0;
    button#jform_mycalendar_btn {
      background: transparent;
      border: none;
      color: #212529;
    }
  }
}
// J3 radio button fix
.form-check-inline label.form-check-label.btn {
  padding: 0.375rem 3px;
}

// Modal iFrame height fix
.modal-body {
  .iframe {
    min-height: 60vh !important;
  }
}
#sbox-content {
  iframe {
    width: 780px;
    height: 480px;
  }
}
figure {
  margin: 0 0 2em;
}

figure.float-start {
  margin-right: 1em;
}

figure.float-end {
  margin-left: 1em;
}

[dir="rtl"] figure.float-start {
  margin-left: 1em;
  margin-right: 0;
}

[dir="rtl"] figure.float-end {
  margin-left: 0;
  margin-right: 1em;
}

.hu-content-edit {
  .input-group-text {
    padding: 0;
    border: none;
  }
}
.com-content {
  .blog,
  .blog-featured,
  .uk-article {
    .uk-subnav > * > :first-child {
      text-transform: none;
      font-size: 0.95rem;
    }
  }
}

#contact-form {
  textarea {
    height: 120px;
    border: 1px solid #ced4da;
  }
  .tm-checkbox {
    .form-check.form-check-inline {
      margin: 0;
      padding: 0;
      min-height: inherit;
      padding-right: 5px;
    }
  }
}
.hide-contact-title {
  .contact-title {
    display: none;
  }
}
// Alerts
.alert {
  border-radius: 0;
  &.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  h4 {
    margin: 0;
  }
}

.field-calendar {
  > .js-calendar.hidden {
    display: none;
  }
}
/* For Extra add-ons*/

.sppb-popover {
  z-index: 9999;
}
.tm-social-list .uk-icon-button {
  line-height: 36px;
}

// Fix popover tooltip
.popover {
  .popover-header {
    margin-top: 0;
  }
}

.tm-form-collapse {
  .uk-grid > * {
    padding-left: 0px;
  }
  .tm-acym-form {
    margin-left: 0px;
  }
  .acym_module_form input {
    max-width: inherit;
  }
}

.tm-acym-form {
  .cell {
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    background: #fff !important;
    border: 1px solid rgba(255, 255, 255, 0.7) !important;
  }
}

.uk-light {
  .tm-acym-form {
    .cell {
      background-clip: border-box;
    }
  }
}

.uk-search-large input.uk-search-input {
  font-size: 44px;
  border: none;
}

.convertforms .cf-field-hp {
  display: none !important;
  position: absolute !important;
  left: -9000px !important;
}
